<!--0816-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 언어 설정을 위해 -->
    <title>서버에서 데이터 받기</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/season">계절(season)</a>
            <a href="/loop">루프</a>
            <a href="/calc">짝수/홀수 판정</a>
        </nav>
    </header>
    <section>
        <h2>반복, 조건문</h2>
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
                <li>
                    {{ loop.index }}번 요소 - {{item}}
                </li>
            <!--위의 것과 출력은 같지만 이건 다른 서버에서 정보를 받아오는 것 -->
            {% endfor %}
            {% for item in items %}
            <br>
            <li>
                {% if loop.index < 3 %}
<!--                if문 양식-->
                    {{ loop.index }}번 요소 - {{item}}
                {% endif %}
            </li>
            {% endfor %}
<!--            if문 끝내기-->
        </ul>
    </section>
</body>
</html>